label {
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  input[type="date"],
  input[type="time"],
  textarea {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  textarea {
    height: 100px;
    resize: none;
  }
  
  .alerta-error {
    background-color: white;
    color: red;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: "Staatliches", cursive;
  }